<f:layout name="default" />

<f:section name="main">
    <f:if condition="{settings.templateVariantList}">
        <f:then>
            <f:render partial="Address/TemplateVariants/List/{settings.templateVariantList -> f:format.case(mode: 'capital')}" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:for each="{addresses}" as="address">
                <f:render partial="Address/ListItem" arguments="{address: address}"/>
            </f:for>

            <f:if condition="!{addresses} && {isSearch}">
                <f:render partial="Address/SearchResultNotFound" />
            </f:if>
        </f:else>
    </f:if>
</f:section>