<div class="address-item address-company" itemscope itemtype="http://schema.org/Corporation">
    <h1 class="company-title" itemprop="name">{address.companyTitle}</h1>
    <h2 class="company-subtitle" itemprop="alternateName">{address.companySubtitle}</h2>

    <div class="company-description" itemprop="description">
        <p class="company-short">
            {address.companyShort}
        </p>

        {address.companyBodytext}
    </div>

    <f:render partial="Address/PostalAddress" arguments="{_all}"/>

    <p class="electronic-address">
        <span class="phone" itemprop="telephone">{address.phone}</span><br />
        <span class="mobile" itemprop="telephone">{address.mobile}</span><br />
        <span class="fax" itemprop="faxNumber">{address.fax}</span><br />
        <a class="email" href="mailto:{address.email}" itemprop="email">{address.email}</a><br />
        <a class="www" href="{address.www}" itemprop="url">{address.www}</a>
    </p>

    <f:render partial="Address/RelatedAddresses" arguments="{_all}"/>
    <f:render partial="Address/RelatedAddressesFrom" arguments="{_all}"/>
</div>